html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    width: 100%;       
    margin: 0;
    display: flex;
    flex-direction: column;   
    background: url(Diseño\ sin\ título.png) center center;
    background-size: cover;
    justify-content: flex-end;
}

.inicio{
    justify-content: center;
    align-items: end;
}

.description{
    text-align: center;
    padding: 20px;
    background-color: #FFFBE6;
    opacity: 85%;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000(0, 0, 0, 0.1);
}

.boton-redireccion{
    background-color: #FD5E4B;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.boton-redireccion:hover{
    background-color: #ff4f3b;
}

.sobremi {
    text-align: start;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 251, 230, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.aboutcarlo{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.fotokiki{
    width: 500px;
    height: auto;
    display: block;
    border-radius: 10px;
}

.cardfoto{
    padding: 15px;
    border-radius: 15px;
    padding-bottom: 30px;
    background-color: #FFFBE6;
    margin-top: 40px;
}

.volver{
    align-items: start;
    display: block;
    justify-content: start;
    padding: 01px;
}

.movimiento{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.primersumobot {
    text-align: start;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 251, 230, 0.85);
    display: flex;
    flex-direction: row;
    align-items: flex-start;   
}

.Caracteristicas{
    margin: 50px;
}

.sumobot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sumofoto{
    padding: 15px;
    border-radius: 15px;
    padding-bottom: 30px;
    background-color: #FFFBE6;
    margin-top: 40px;
}

.Robot{
    width: 200px;
    height: auto;
    display: block;
    border-radius: 10px;
}

.RobotDos{
    width: 500px;
    height: auto;
    display: block;
    border-radius: 10px;
}

.sumo2{
    padding: 15px;
    border-radius: 15px;
    padding-bottom: 30px;
    background-color: #FFFBE6;
    display: inline-block;
}

.game{
    text-align: start;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 251, 230, 0.85);
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.Caracteristicas{
    margin: 50px;
}

.juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.screenshotjuego{
    width: 400px;
    height: auto;
    border-radius: 15px;
}

.juegofoto{
    padding: 15px;
    border-radius: 15px;
    padding-bottom: 30px;
    background-color: #FFFBE6;
    margin-top: 40px;
}

#player {
    width: 32px;          
    height: 48px;         
    background-image: url('dude.png');
    background-repeat: no-repeat;
    margin-top: 20px;
    image-rendering: pixelated; 
    transform: scale(2.5);      
    cursor: pointer;
    transition: filter 0.3s;

    background-position: -128px 0px;

    position: fixed;
    left: 50%;
    top: 75%;
    z-index: 9999;
}

#player:hover {
    filter: brightness(1.2); 
}


.correr-izquierda {
    animation: 
        animar-izquierda 0.4s steps(4) infinite,
        viaje-izquierda 2s linear infinite;
}

@keyframes animar-izquierda {
    from {background-position: 0px 0px;}
    to {background-position: -128px 0px;}
}

@keyframes viaje-izquierda {
    from {left: 100%;}
    to {left: -50px;}
}

.correr-derecha {
    animation: 
        animar-izquierda 0.4s steps(4) infinite,
        viaje-izquierda 4s linear infinite;
}

@keyframes animar-derecha {
    from {background-position: -160px 0px;}
    to {background-position: -288px 0px;}
}

@keyframes viaje-derecha {
    from {left: 50px;}
    to {left: 100%;}
}

.languages{
    display: flex;
    gap: .25rem;
}
lang-button{
   background-color: transparent;
   font-size: 1rem;
    border: none;
    cursor: pointer;

}